.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar__input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 300px;
}

.searchbar__button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
}

.searchbar__button:hover {
  background-color: #ccc;
}